<link rel="stylesheet" href="/css/home.css">
  <h1>Etalk  <%= title %></h1>

<section id="feed-posts">
  
  <% if(locals.user) { %>
  <h4>Posts</h4>

  <div id="post-list-container">
    <ul>
      <% for(post of posts){%>
        <li>
        <p>
          <%= post.content%>
          <br>
          <small>
            <%= post.user.name %>
          </small>
        </p>
        </li>
        <% }%>
    </ul>
    </div>

<form action="/posts/create" id="new-post-form" method="POST">
 <textarea name="content"  cols="30" rows="3"></textarea>
 <input type="submit" value="Post">
</form>
 <% } %>

</section>