<h1>Sign In</h1>

<form class="" action="/users/create-session" method="post">
  <input type="email" name="email" value="" placeholder="Email" required>
  <input type="password" name="password" value="" placeholder="Password" required>
  <input type="submit" value="Sign in">
</form>

<a href="/users/sign-up">Make a new Account</a>
