#navig {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #navig ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  #navig li {
    float: left;
  }
  #navig h3{
 color: whitesmoke;
 font-family: sans-serif;
  margin-left: 100px;
  }
  #navig li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navig li a:hover {
    background-color: #111;
  }
  