body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  .signup-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* .signup-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form input[type="submit"]:hover {
    background-color: #0056b3;
  } */

  .signup-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  /* styles.css */



#password-requirements {
  font-size: 0.9em;
  color: #666;
}

#password-requirements ul {
  list-style-type: none;
  padding: 0;
}

#password-requirements li {
  margin: 5px 0;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

  
  /* Optional: Add additional styles for form elements like focus, hover, etc. */
  